<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | About</title>
  </head>
  <body>
   <h1>About US</h1>
    <p>This is the home page <a href="http://railstutorial.org/"> Ruby Rails
	Tutorial</a> sample application </p>
  </body>
</html>