<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | Contact</title>
  </head>
  <body>
   <h1>About Us</h1>
    <p>This is the home page <a href="http://railstutorial.org/"> Ruby Rails
	Tutorial</a> Feedback Page </p>
  </body>
</html>